.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 60px 170px;
    text-transform: capitalize;
}
@media screen and (max-width: 768px) {
    .breadcrumb {
        margin: 30px 30px;
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .breadcrumb {
        margin: 20px 15px;
        font-size: 13px;
    }
}
