.item{
    width: 350px;
}
.item p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.itme-prices-new{
    color: #374151;  
    font-size: 18px;
    font-weight: 600;
}
.item-prices-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
@media screen and (max-width: 1024px) {
    .item {
        width: 280px;
    }

    .item-prices-new,
    .item-prices-old {
        font-size: 16px;
    }
}
@media screen and (max-width: 768px) {
    .item {
        width: 100%;
        max-width: 300px;
        margin: auto;
    }

    .item-prices {
        justify-content: center;
    }

    .item p {
        text-align: center;
    }

    .item-prices-new,
    .item-prices-old {
        font-size: 15px;
    }
}